// 
.app-table-content {
    .app-table-header-form {
        .ant-form-item {
            display: flex;
            margin: 0;
        }
        .ant-form-item-control-wrapper {
            flex: 1;
        }
        .ant-col-6 {
            // padding: 5px 0;
        }
        .table-header-btn {
            text-align: right;
        }
        .ant-form-item-control,
        .ant-input-number,
        .ant-calendar-picker {
            width: 100%;
            max-width: 278px;
        }
    }
    .app-table-edit-form {}
    .app-table-port-modal {
        .app-table-port-tab-pane {
            min-height: 200px;
        }
    }
}